In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import seaborn as sns
from sklearn import metrics

Lendo dados

In [26]:
data = pd.read_csv('data/brasil_2022.csv', sep=';', encoding='latin1')
data_copy = data.copy()
# df_limpo = data.loc[df['x'] != ""]

In [28]:
data_copy

,Região/Unidade da Federação,Menor de 10 anos,10 a 14 anos,15 a 19 anos,20 a 24 anos,25 a 29 anos,30 a 34 anos,35 a 39 anos,40 a 44 anos,45 a 49 anos,50 a 54 anos,55 a 59 anos,Idade ignorada
0,Região Norte,1,46,581.0,808.0,696.0,515.0,391.0,156.0,16,1,-,128.0
1,.. Rondônia,-,3,33.0,54.0,56.0,26.0,28.0,13.0,1,-,-,8.0
2,.. Acre,-,3,24.0,33.0,28.0,22.0,16.0,11.0,1,-,-,14.0
3,.. Amazonas,1,12,145.0,199.0,167.0,141.0,110.0,54.0,2,-,-,21.0
4,.. Roraima,-,-,27.0,18.0,29.0,26.0,14.0,3.0,-,-,-,5.0
5,.. Pará,-,22,269.0,421.0,352.0,239.0,168.0,55.0,7,1,-,62.0
6,.. Amapá,-,1,33.0,28.0,29.0,25.0,21.0,13.0,5,-,-,9.0
7,.. Tocantins,-,5,50.0,55.0,35.0,36.0,34.0,7.0,-,-,-,9.0
8,Região Nordeste,-,96,1125.0,1802.0,1748.0,1597.0,1242.0,499.0,41,3,1,500.0
9,.. Maranhão,-,20,207.0,306.0,273.0,231.0,152.0,48.0,6,1,-,71.0
10,.. Piauí,-,2,57.0,106.0,99.0,85.0,73.0,20.0,5,-,-,17.0
11,.. Ceará,-,17,130.0,237.0,273.0,243.0,193.0,75.0,5,-,-,31.0
12,.. Rio Grande do Norte,-,8,49.0,80.0,98.0,83.0,73.0,26.0,3,1,-,20.0
13,.. Paraíba,-,6,70.0,111.0,110.0,97.0,78.0,39.0,2,-,-,32.0
14,.. Pernambuco,-,10,184.0,267.0,215.0,238.0,164.0,75.0,7,-,-,87.0
15,.. Alagoas,-,6,72.0,122.0,103.0,90.0,57.0,22.0,3,-,-,47.0
16,.. Sergipe,-,2,60.0,68.0,77.0,66.0,62.0,24.0,-,1,-,4.0
17,.. Bahia,-,25,296.0,505.0,500.0,464.0,390.0,170.0,10,-,1,191.0
18,Região Sudeste,-,55,1121.0,2060.0,2009.0,1832.0,1453.0,640.0,47,2,-,726.0
19,.. Minas Gerais,-,16,288.0,497.0,483.0,453.0,330.0,145.0,9,1,-,206.0
20,.. Espírito Santo,-,7,81.0,93.0,95.0,83.0,82.0,37.0,2,-,-,15.0
21,.. Rio de Janeiro,-,12,311.0,523.0,457.0,368.0,304.0,123.0,8,-,-,96.0
22,.. São Paulo,-,20,441.0,947.0,974.0,928.0,737.0,335.0,28,1,-,409.0
23,Região Sul,-,15,318.0,651.0,663.0,567.0,427.0,174.0,15,2,-,167.0
24,.. Paraná,-,8,127.0,252.0,267.0,242.0,140.0,75.0,7,-,-,39.0
25,.. Santa Catarina,-,5,92.0,200.0,186.0,155.0,119.0,43.0,3,-,-,51.0
26,.. Rio Grande do Sul,-,2,99.0,199.0,210.0,170.0,168.0,56.0,5,2,-,77.0
27,Região Centro-Oeste,-,20,337.0,559.0,523.0,443.0,304.0,148.0,15,1,-,107.0
28,.. Mato Grosso do Sul,-,7,63.0,96.0,106.0,97.0,59.0,25.0,3,-,-,20.0
29,.. Mato Grosso,-,5,80.0,151.0,143.0,90.0,67.0,33.0,1,-,-,6.0
30,.. Goiás,-,7,152.0,239.0,204.0,176.0,113.0,52.0,7,1,-,72.0
31,.. Distrito Federal,-,1,42.0,73.0,70.0,80.0,65.0,38.0,4,-,-,9.0
32,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
data_copy['Região'] = ''

# Armazena o último valor de grupo principal encontrado
ultimo_valor_principal = ''

for index, row in data_copy.iterrows():
    if '..' not in row['Região/Unidade da Federação']:
        # Atualiza o último valor principal se a linha atual não é um subgrupo
        ultimo_valor_principal = row['Região/Unidade da Federação']
    # Atualiza a nova coluna com o valor do último grupo principal encontrado
    data_copy.at[index, 'Região'] = ultimo_valor_principal


data_copy.head()

,Região/Unidade da Federação,Menor de 10 anos,10 a 14 anos,15 a 19 anos,20 a 24 anos,25 a 29 anos,30 a 34 anos,35 a 39 anos,40 a 44 anos,45 a 49 anos,50 a 54 anos,55 a 59 anos,Idade ignorada,Região
0,Região Norte,1,46,581.0,808.0,696.0,515.0,391.0,156.0,16,1,-,128.0,Região Norte
1,.. Rondônia,-,3,33.0,54.0,56.0,26.0,28.0,13.0,1,-,-,8.0,Região Norte
2,.. Acre,-,3,24.0,33.0,28.0,22.0,16.0,11.0,1,-,-,14.0,Região Norte
3,.. Amazonas,1,12,145.0,199.0,167.0,141.0,110.0,54.0,2,-,-,21.0,Região Norte
4,.. Roraima,-,-,27.0,18.0,29.0,26.0,14.0,3.0,-,-,-,5.0,Região Norte

In [46]:
regions = data_copy['Região'].unique()
filtered_data = data_copy[~data_copy['Região/Unidade da Federação'].isin(regions)]

filtered_data['Região/Unidade da Federação'] = filtered_data['Região/Unidade da Federação'].str.replace('^\.\.\ ', '', regex=True)
filtered_data
filtered_data.head()

/tmp/ipykernel_9083/802098182.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Região/Unidade da Federação'] = filtered_data['Região/Unidade da Federação'].str.replace('^\.\.\ ', '', regex=True)

,Região/Unidade da Federação,Menor de 10 anos,10 a 14 anos,15 a 19 anos,20 a 24 anos,25 a 29 anos,30 a 34 anos,35 a 39 anos,40 a 44 anos,45 a 49 anos,50 a 54 anos,55 a 59 anos,Idade ignorada,Região
1,Rondônia,-,3,33.0,54.0,56.0,26.0,28.0,13.0,1,-,-,8.0,Região Norte
2,Acre,-,3,24.0,33.0,28.0,22.0,16.0,11.0,1,-,-,14.0,Região Norte
3,Amazonas,1,12,145.0,199.0,167.0,141.0,110.0,54.0,2,-,-,21.0,Região Norte
4,Roraima,-,-,27.0,18.0,29.0,26.0,14.0,3.0,-,-,-,5.0,Região Norte
5,Pará,-,22,269.0,421.0,352.0,239.0,168.0,55.0,7,1,-,62.0,Região Norte

In [47]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 1 to 31
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Região/Unidade da Federação  27 non-null     object
 1   Menor de 10 anos             27 non-null     object
 2   10 a 14 anos                 27 non-null     object
 3   15 a 19 anos                 27 non-null     float64
 4   20 a 24 anos                 27 non-null     float64
 5   25 a 29 anos                 27 non-null     float64
 6   30 a 34 anos                 27 non-null     float64
 7   35 a 39 anos                 27 non-null     float64
 8   40 a 44 anos                 27 non-null     float64
 9   45 a 49 anos                 27 non-null     object
 10  50 a 54 anos                 27 non-null     object
 11  55 a 59 anos                 27 non-null     object
 12  Idade ignorada               27 non-null     float64
 13  Região                       27 non-null     object
dtypes: float64(7), object(7)
memory usage: 3.2+ KB

In [52]:
filtered_data = filtered_data.replace('-', np.nan)
filtered_data.fillna(0, inplace=True)
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 1 to 31
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Região/Unidade da Federação  27 non-null     object
 1   Menor de 10 anos             27 non-null     object
 2   10 a 14 anos                 27 non-null     object
 3   15 a 19 anos                 27 non-null     float64
 4   20 a 24 anos                 27 non-null     float64
 5   25 a 29 anos                 27 non-null     float64
 6   30 a 34 anos                 27 non-null     float64
 7   35 a 39 anos                 27 non-null     float64
 8   40 a 44 anos                 27 non-null     float64
 9   45 a 49 anos                 27 non-null     object
 10  50 a 54 anos                 27 non-null     object
 11  55 a 59 anos                 27 non-null     object
 12  Idade ignorada               27 non-null     float64
 13  Região                       27 non-null     object
dtypes: float64(7), object(7)
memory usage: 3.2+ KB

In [66]:
filtered_data.iloc[:, 1:13] = filtered_data.iloc[:, 1:13].astype('int64')
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 1 to 31
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Região/Unidade da Federação  27 non-null     object
 1   Menor de 10 anos             27 non-null     object
 2   10 a 14 anos                 27 non-null     object
 3   15 a 19 anos                 27 non-null     float64
 4   20 a 24 anos                 27 non-null     float64
 5   25 a 29 anos                 27 non-null     float64
 6   30 a 34 anos                 27 non-null     float64
 7   35 a 39 anos                 27 non-null     float64
 8   40 a 44 anos                 27 non-null     float64
 9   45 a 49 anos                 27 non-null     object
 10  50 a 54 anos                 27 non-null     object
 11  55 a 59 anos                 27 non-null     object
 12  Idade ignorada               27 non-null     float64
 13  Região                       27 non-null     object
dtypes: float64(7), object(7)
memory usage: 3.2+ KB

In [27]:
# data_copy = data_copy.loc[data_copy['Unidade da Federação'] != " "]
# data_copy

KeyError: 'Unidade da Federação'

In [25]:
df_limpo['Unidade da Federação'].value_counts()

Unidade da Federação
11 Rondônia               1
12 Acre                   1
13 Amazonas               1
14 Roraima                1
15 Pará                   1
16 Amapá                  1
17 Tocantins              1
21 Maranhão               1
22 Piauí                  1
23 Ceará                  1
24 Rio Grande do Norte    1
25 Paraíba                1
26 Pernambuco             1
27 Alagoas                1
28 Sergipe                1
29 Bahia                  1
31 Minas Gerais           1
32 Espírito Santo         1
33 Rio de Janeiro         1
35 São Paulo              1
41 Paraná                 1
42 Santa Catarina         1
43 Rio Grande do Sul      1
50 Mato Grosso do Sul     1
51 Mato Grosso            1
52 Goiás                  1
53 Distrito Federal       1
Name: count, dtype: int64