# <font color=green size=10>CURSO DE ESTATÍSTICA - PARTE 4</font>
***

## Trabalho sobre correlação e regressão

Utilizando os conhecimentos adquiridos em nosso treinamento realize a análise de regressão proposta abaixo.

Siga o roteiro proposto e vá completando as células vazias.

# <font color=green>DATASET DO PROJETO</font>
***

### Fonte: https://www.kaggle.com/dongeorge/beer-consumption-sao-paulo

### Descrição:
A cerveja é uma das bebidas mais democráticas e consumidas no mundo. Não sem razão, é perfeito para quase todas as situações, desde o happy hour até grandes festas de casamento.

Os dados (amostra) foram coletados em São Paulo - Brasil, em uma área universitária, onde existem algumas festas com grupos de alunos de 18 a 28 anos de idade (média).

### Dados:
- **temp_media** - Temperatura Média (°C)
- **consumo** - Consumo de Cerveja (litros)

---

### Utilize a célula abaixo para importar as biblioteca que precisar para executar as tarefas
#### <font color='red'>Sugestões: pandas, numpy, scipy, statsmodels</font>

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy as sp
import statsmodels.api as sm

### Importe o dataset

In [18]:
df = pd.read_csv('../../data/dados_projeto.csv', delimiter=';')
data = df.copy()

In [19]:
data

         Y      X
0    25461  27.30
1    28972  27.02
2    30814  24.82
3    29799  23.98
4    28900  23.82
..     ...    ...
360  32307  24.00
361  26095  22.64
362  22309  21.68
363  20467  21.38
364  22446  24.76

[365 rows x 2 columns]

### Identifique se existe uma relação linear entre as variáveis $Y$ e $X$

### <font color='red'>Utilizando a matriz de correlação</font>

In [20]:
data.corr()

          Y         X
Y  1.000000  0.574615
X  0.574615  1.000000

### Avalie os resultados acima:

É possível afirmar que existe uma relação linear entre as variáveis?

Resp.: Sim

É possível quantificar a intensidade dessa relação?

Resp.: Sim

É possível afirmar que existe uma relação de causalidade entre $Y$ e $X$ a partir dos resultados da matriz de correlação?

Resp.: Nao

### Prepare os dados para estimar um modelo de regressão linear simples

In [21]:
Y = data.Y
X = sm.add_constant(data.X)

### Estime o modelo de regressão linear simples

In [22]:
regression = sm.OLS(Y, X).fit()

### Visualize o resultado da regressão

In [23]:
print(regression.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.330
Model:                            OLS   Adj. R-squared:                  0.328
Method:                 Least Squares   F-statistic:                     178.9
Date:                Mon, 12 Feb 2024   Prob (F-statistic):           1.87e-33
Time:                        11:07:36   Log-Likelihood:                -3506.3
No. Observations:                 365   AIC:                             7017.
Df Residuals:                     363   BIC:                             7024.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8528.9073   1275.363      6.687      0.000    6020.880     1.1e+04
X            794.8825     59.423     13.377      0.000     678.027     911.738
==============================================================================
Omnibus:                       11.300   Durbin-Watson:                   1.623
Prob(Omnibus):                  0.004   Jarque-Bera (JB):                9.673
Skew:                           0.324   Prob(JB):                      0.00793
Kurtosis:                       2.534   Cond. No.                         145.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Obtenha o $Y$ previsto

In [24]:
data['y_previsto'] = regression.predict()
data.head()

       Y      X    y_previsto
0  25461  27.30  30229.200544
1  28972  27.02  30006.633434
2  30814  24.82  28257.891852
3  29799  23.98  27590.190521
4  28900  23.82  27463.009315

### Utilizando nosso modelo estimado para fazer previsões.
### Qual seria o consumo de cerveja para um dia com temperatura média de 42° C?

In [30]:
regression.predict([1, 42])[0]

41913.97383816628

### Obtenha os resíduos da regressão

In [28]:
data['Residuos'] = regression.resid
data

         Y      X    y_previsto     Residuos
0    25461  27.30  30229.200544 -4768.200544
1    28972  27.02  30006.633434 -1034.633434
2    30814  24.82  28257.891852  2556.108148
3    29799  23.98  27590.190521  2208.809479
4    28900  23.82  27463.009315  1436.990685
..     ...    ...           ...          ...
360  32307  24.00  27606.088172  4700.911828
361  26095  22.64  26525.047922  -430.047922
362  22309  21.68  25761.960686 -3452.960686
363  20467  21.38  25523.495925 -5056.495925
364  22446  24.76  28210.198900 -5764.198900

[365 rows x 4 columns]

### Obtenha o R² da regressão pelo método da soma dos quadrados

# $$R^2 = \frac{SQR}{SQT}$$

In [29]:
regression.rsquared

0.330182049332432