## Imports

In [1]:
import pandas as pd

## Code

### Dataframe

In [3]:
df = pd.read_csv('./data/dataset_avaliacoes.csv', sep=',')
df.head()

,ID_avaliacao,avaliacao,nota,sentimento
0,81841,"Esse smartphone superou minhas expectativas, r...",5,positivo
1,28031,o cheiro e muito desagradavel!! pra quem se in...,2,negativo
2,91332,"Eu fiz a compra a loja não entregou o produto,...",1,negativo
3,110045,"Atendeu minhas expectativas, só achei a luz ru...",4,positivo
4,36929,"Gostei muito, só achei que ficou a desejar a q...",5,positivo

### Methods

- Bag of words (words frequency)

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
text = ['Comprei um protudo ótimo', 'Comprei um produto ruim']

vectorize = CountVectorizer()
bag_of_words = vectorize.fit_transform(text)

In [7]:
bag_of_words
dataframe = pd.DataFrame(bag_of_words.toarray(), columns=vectorize.get_feature_names_out())
dataframe

   comprei  produto  protudo  ruim  um  ótimo
0        1        0        1     0   1      1
1        1        1        0     1   1      0

Apply in dataframe

In [8]:
vectorize = CountVectorizer(lowercase=False)
bag_of_words = vectorize.fit_transform(df['avaliacao'])
bag_of_words.shape

(15501, 23352)

limit shape

In [9]:
vectorize = CountVectorizer(lowercase=False, max_features=50)
bag_of_words = vectorize.fit_transform(df['avaliacao'])
bag_of_words.shape

(15501, 50)

In [11]:
dataframe = pd.DataFrame(bag_of_words.toarray(), columns=vectorize.get_feature_names_out())
dataframe.head()

,Não,Produto,ainda,antes,as,até,bem,bom,chegou,com,...,qualidade,que,recebi,recomendo,se,sem,tem,um,uma,veio
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,1,2,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(bag_of_words, df['sentimento'], test_size=0.2, random_state=42)